.cardSection{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* background-image: linear-gradient(to right,#cdffd8,#94b9ff); */
    
    /* background-image: linear-gradient(to right,#9cecfb,#5bbced,rgb(36, 36, 212)); */

    
    /* background-image: linear-gradient(to right,rgb(51, 129, 245),rgb(50, 101, 254),rgb(36, 68, 212)); */
    
  /* background-image: linear-gradient(to right, #659afb, #2668db); */
}

/* media query at 977px and 503px */
@media screen and (max-width: 977px){
    .cardSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 600px){
    .cardSection{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}