.cardSection{
    display: flex;
}

/* media query at 977px and 503px */
@media screen and (max-width: 977px){
    .cardSection{
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 600px){
    .cardSection{
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}