
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav-center-navigation-box-text{
  /* color: #000000; */
  color: whitesmoke;
  /* text-shadow: whitesmoke; */
}
.nav-center-navigation-box-text-p{
  color: black;
}
.navbar{
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: -webkit-sticky;
  /* position: sticky; */
 
  /* position: fixed; */
  top: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* opacity:1.0; */
  height: 72px;
  justify-content: space-between;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: hsla(0, 1%, 53%, -0.438); */
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px 0 rgba(1, 0, 0, 1.05);
  justify-content: space-between;
  
} 
.nav-left{
  /* display: inline-block; */
  /* logo css */
  
  cursor: pointer;
  align-items: center;
  /* box-sizing: border-box; */
  /* width: 30%; */
  
  height:100%;
}

.headerlogo{
  /* margin: 2px; */
 max-width: 100px;
 /* height: 105%; */
 margin-left: 6%;
 justify-content: center;
 align-items: center;
}

/* .nav-left img{
  width: 100%;
  height: 78%;
} */
.nav-center{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-inline-end: 40px;
  gap: 15px;
}
.nav-right{
  /* login symbol and search btn css */
  margin-right: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-center-navigation-box{
  /* margin: 2vw ; */
  padding: 2vh;
  min-width: 3vh;
  /* border: 1px solid black; */
  border-radius: 2px;
  cursor: pointer;
}
.nav-center-navigation-box-text:hover{
  color: rgb(4, 28, 207);
}
.nav-center-navigation-box-text:active{
  color: rgb(4, 28, 207);
}
.nav-center-navigation-box-text-p:hover{
  color: rgb(4, 28, 207);
}

/* .nav-right-searchBtn{
  cursor: pointer;
  margin: 2vw ;
  padding: 10px 30px;
  background-color: rgb(19 108 186);
  min-width: 5vh;
  min-width: 5vw;
  border-radius: 4px;
  border: 2px solid black;
  font-weight: bold;
} */
/* .nav-right-searchBtn i{
  margin-left: 30px;
} */

/* .nav-right-user{
  cursor: pointer;
  padding: auto;
  
  font-size: 20px;
  border-radius: 2px solid rgb(204, 39, 39);
} */
.header-dropdown{
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  text-decoration: black;
  /* color: black; */
  background-color:rgb(235, 239, 239);
  padding: 5px 20px;
  min-width: 10%;
  border-radius: 5px;
  text-align: left;
  transform: translateY(-30%);
  transition: opacity,transform 250ms ease-in-out;
  overflow: hidden;
}
.nav-center-navigation-box:hover .header-dropdown{
  /* background-color:  rgb(19 108 186); */
  /* display: block; */
  opacity: 1;
  color: black;
  transform: translateY(-10%);
  pointer-events: auto;
}  





@media  (min-width: 300px) and (max-width: 899px) {
  
  /* .header{
      height: 80px;
  } */
  .on-mobile-cross{
      display: none;
  }
  .handburg{
      padding-left: 14vh;
      height: 10px;
      margin-left:20%;
  }
  .headerlogo{
    padding-left: 1vh;
    height: 93%;
  }
  .nav-center-navigation-box-text{
    cursor: none;
  }
  .navbar-items-for-mobile{
      display: flex;
      border-radius: 3vh;
      background-color: rgb(67, 65, 65);
      /* height: 80vh; */
      /* z-index: 3; */
      font-size: 16px;
      position: sticky;
      width: min-content;
      flex-wrap: wrap;
      width: auto;
      flex-direction: column;
      padding: 2vh;
      margin: 2vh;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      color: white;
  }
  .nav-center-navigation-box{
    padding: 1px;
    margin: 2px;
    padding-left: 1vh;
  }
  .header-dropdown{
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    color: black;
    background-color:rgb(235, 239, 239);
    padding: 5px 20px;
    min-width: 10%;
    height: auto;
    border-radius: 5px;
    text-align: left;
    transform: translateY(-30%);
    transition: opacity,transform 250ms ease-in-out;
    overflow: hidden;
  }
  .fa-bars-staggered:before 
   {
    content: "\f550";
    padding: 18px;
    justify-content: center;
    align-items: center;
}

.fa-xmark:before {
  content: "\f00d";
  padding: 18px;
  justify-content: center;
  align-items: center;
}
  .handburg{
    height: 30px;
    justify-content: center;
  }
  .navbar-items-for-mobile a{
      text-decoration: none;
      /* color: #000000; */
      margin: 10px 0;
      color: white;
     
  }
}
