.query-component h1{
    font-size: 5rem;
}
.single-query-box{
    height: 1%;
      border: 2px solid black;
    margin: 10px 20px;
    /* padding: 20px ; */
     border-radius: 10px;
    /* display: flex;  */
    /* justify-content: space-between; */
  padding: 20px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tablename{
   width: 10rem;
}


.tablephone{
  width: 15rem;
  
}

.tabledate{
  width: 10rem;
}

.tablemsg{
  width: 50%;
}

.tabledownload{
  width: 10rem;
}