.gallery-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery-container {
    padding: 1vh;
    margin: 1vh;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 2vh;
}