.gallery-page{
    display: flex;
    /* grid-template-columns: auto auto auto; */
   flex-direction: row;
}
.gallery-heading{  padding: 2vh;
    margin: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    box-shadow: 2px 2px 2px 2px rgb(194, 188, 188);

    border-left: 5px solid black;
    text-decoration: solid;
  }
/* .gallery-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 50%;
} */
/* .gallerygrid{
    display: flex;
    flex-direction: row;
} */
.gallery-box{
   display: flex;
   flex-direction: row;
}
.gallery{
    height: max-content;
}
.gallery-container {
    padding: 1vh;
    margin: 1vh;
    box-shadow: 0 5px 7px #e0e5e8;
    border-radius: 2vh;
}
.card-img img{ 
    height: 50vh;
    width: 50vh;
    
}
.gallery-name{
    padding: 1.5vh;
}
.gallery-name-title{
    text-align: center;
}

.gallerybunch{
    display: flex;
    display: grid;
    /* grid-template-columns: auto auto auto;  */
}
.row-gallery{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
