/* .gallery-page{
    display: grid;
    grid-template-columns: auto auto auto;
    display: flex;
} */

/* .gallery-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 50%;
} */
.gallery-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* flex: 50%; */
}
.gallery{
    height: max-content;
}
.gallery-container {
    padding: 1vh;
    margin: 1vh;
    box-shadow: 0 5px 7px #e0e5e8;
    border-radius: 2vh;
}
.card-img img{ 
    height: 50vh;
    width: 50vh;
    border-radius: 2vh;
}
.gallery-name{
    padding: 1.5vh;
}
.gallery-name-title{
    text-align: center;
}

.gallerybunch{
    /* display: flex; */
    display: grid;
    /* grid-template-columns: auto auto auto;  */
}
