.carousel{
    z-index: 1  ;
}
.hero-section-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img{
    height: 600px;;
    object-fit: cover;
    /* opacity: 0.2; */
}
.hero-section-container{
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:544px) {
    .carousel-img{
        height: 228px;
    }
}