.dropdown-input{
  display: flex;
 flex-direction: row; 
 flex-wrap: wrap;
 /* border: 2px solid; */
 /* border-radius: 10px; */
 width: 70%;
background-color: #dce5f7;
 justify-content: center ;
margin-left: 15%;
/* padding-bottom: 1%; */
}
.col-filter{
 
  
  width: 25%;
  /* padding: 5px 40px; */
  padding-top: .9%;
  padding-bottom: 1%;
  text-align: center;
  justify-content: center;
  /* text-decoration: black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /* border: 2px solid; */
  /* margin-right: 0px; */
  margin-top: 0%;
  border-right: 1px outset;

  
}

.pfilter-color{
  letter-spacing: 1px;
  text-shadow: 1px .5px;
  text-shadow: 1px 1px 2px rgb(61, 96, 114);
}
.col-filter1{

  
  width: 25%;
  text-align: center;
  justify-content: center;
  background: linear-gradient(105deg, #659afb, #2668db);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0%;
  margin-bottom: 0%;
  border-right: 1px solid;

}
.butt-color{
  color: white;
  letter-spacing: 1px;
  text-shadow: .3px .3px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 5px;
  margin-top: 4%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* padding: 12px 16px; */
  z-index: 1;
}
.col-filter:hover .dropdown-content {
  display: block;
}
/* .bottom-filter{
  width: 25%;
  
  padding-top: 1.5%;
  text-align: center;
  justify-content: end;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
 
  cursor: pointer;
  margin-top: 0%;
  
} */
