.compare-headSection{
    text-align: center;
    padding-block: 20px;
}
.compare-section2{
    margin: 3vh 5vw;
    /* width property below is not compelet */
    /* width: 1000px; */
    display: block;
    padding: 0 2rem;
    max-width: 1440px;

}
.compare-container{
    background-color: white;
    background-color: aliceblue;
    width: 1000px;
    /* overflow: scroll; */
}
.compare-container-top{
    padding-block: 10px;
    position: sticky;
    top: 0px;
    display: flex;
    background-color: aliceblue;
    /* background-color: white; */
    /* min-height: 20vh; */
}
.compare-headings-section{
    width: 20%;
    padding: 5px 10px;
    text-align: left;
    font-weight: 500;
    box-sizing: border-box;
}
.compare-headings-section img{
    height: auto;
    max-width: 100%;
    /* width: 14vw; */
}
.compare-headings-section p{
    /* padding: 5px; */
    margin: 0;
}
.copare-container-detailsSection{
    
    display: flex;
}
.compare-itemsContainer,.compare-titles-container{
    min-width: 20%;
}
.compareItemDetail ,.compareTitle{
    /* width: 168px; */
    /* margin-right: 5vw ; */
    text-align: left;
}
.compareTitle p{
    padding: 5px;
    font-weight: 500;
}
.compareItemDetail p{
    padding: 5px;
}
.compareTitle:nth-child(2n + 1),.compareItemDetail:nth-child(2n + 1){ 
    background-color:rgb(179, 200, 247);
}
.compare-item-name{
    font-size: 1.7rem;
}
.compare-item-amount{
    color: green;
    font-size: 1.7rem;
}
/* @media screen (max-) {
    
} */