 .floor{
    padding: 2vh;
    margin: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    box-shadow: 2px 2px 2px 2px rgb(194, 188, 188);
}
.floor h2{
    padding: 1vh;
    border-left: 5px solid black;
    text-decoration: solid;
}
.plan h3{
text-align: center;
}
.floor-many{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.floor-img img{
    width: 35vh;
    height: 55vh;
}



@media  (min-width: 300px) and (max-width: 899px) {
    .floor{
        padding-top: 90px;
    }
}