.container-project{
    height: 100%;
    padding: 0 60px;
    margin: 15px 60px;
    
}

/* .car{
    border-radius: 3vh;
}
.property-single-slider{
    border-radius: 3vh;
} */
 .img-box {
    width: 850px;
    height: 498px;
    /* border-radius: 3vh; */
} 
.samar-slider  {
    max-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid black;
    /* border-radius: 3vh; */
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 28.333333%;
}

.card-img-top{
    height: 390px;
    width: 290px;
}


.list-icon{
    display: flex;
    flex-direction: column;

}

.floor-plan{
margin: 2vh;
border: 2px solid black;
}
.video-map-container{
    padding-top: 20px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.video-container{
    flex: 50px;
    padding: 2vh;
    margin: 2vh;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 1vh;
    /* border: 1px solid black; */
}
.map-container{
    flex: 50px;
    padding: 2vh;
    margin: 2vh;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 1vh;
    /* border: 1px solid green; */
}
.video-h3 {

 border-left: 5px solid black ;
 margin-left: 25px;
 padding-left: 25px;
 font-size: 30px;
}
.map-h3{
border-left: 5px solid black ;
margin-left: 25px;
padding-left: 25px;
font-size: 30px;
}

.view-more-floor{
    padding: 0.5vh;
    margin: 2vh;
    border: 2px solid black;
    border-radius: 3vh;
    text-align: center;
}
.view-more-floor:hover{
    background-color: grey;
    opacity: 0.6;
    transition: 0.3s;
}