.container-project{
    height: 100%;
    padding: 0 60px;
    margin: 15px 60px;
    padding-top: 10px;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.left-box{
   
    flex: 70%;
}
.right-box{
   
    flex: 30%;
}
/* .car{
    border-radius: 3vh;
}
.property-single-slider{
    border-radius: 3vh;
} */
 .img-box {
    width: 900px;
    height: 498px;
    /* border-radius: 3vh; */
} 
.samar-slider  {
    max-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid black;
    /* border-radius: 3vh; */
}

.left-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.right-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
/* .col-lg-4 {
    flex: 0 0 auto;
    width: 28.333333%;
} */
.row-about{
    display: flex;
    flex-wrap: wrap
}
.about-box{
    flex: 0 0 auto;
    width: 50%;
}
.card-img-top{
    height: 390px;
    width: 290px;
}


.list-icon{
    display: flex;
    flex-direction: column;

}

.floor-plan{
margin: 2vh;
border: 2px solid black;
}
.video-map-container{
    padding-top: 20px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.video-container{
    flex: 50px;
    padding: 2vh;
    margin: 2vh;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 1vh;
    /* border: 1px solid black; */
}
.map-container{
    flex: 50px;
    padding: 2vh;
    margin: 2vh;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 1vh;
    /* border: 1px solid green; */
}
.video-h3 {

 border-left: 5px solid black ;
 margin-left: 25px;
 padding-left: 25px;
 font-size: 30px;
}
.map-h3{
border-left: 5px solid black ;
margin-left: 25px;
padding-left: 25px;
font-size: 30px;
}

.view-more-floor{
    padding: 0.5vh;
    margin: 2vh;
    border: 2px solid black;
    border-radius: 3vh;
    text-align: center;
}
.view-more-floor:hover{
    background-color: grey;
    opacity: 0.6;
    transition: 0.3s;
}


@media  (min-width: 300px) and (max-width: 950px){
 .container-project{
    padding: 2vh;
    margin: 2vh;
 }
    .row{
        display: flex;
        flex-direction: column;
    }
    .samar-slider{
        max-width: 150% ;
    } 
    .img-box{
        width: 100%;
        height: auto;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .card-body-about{
        padding: 2vh;
        margin: 2vh;
    }
    .about-box{
        padding: 1vh;
    }
    .card-body-floor{
        display: flex ;
        padding: 2vh;
        margin: 2vh;
    }
        @media (min-width: 300px) and (max-width:450px){
        .card-body-floor{
            display: flex;
            flex-direction: column;
           }
        }
    .row-floor{
        width: fit-content;
        padding: 1vh;
    }
    .floor-plan-box{
        padding: 1vh;
    }
}