.Overview-main{
    width: 76%;
    justify-content: center;
    margin-left: 13%;
    background-color: aliceblue;
    padding: 3%;
}
.overview-button{
    margin-right: 5%;
   border-radius: 8px;
   height: 7vh;
   font-size: 1.4rem;
   width: 25%;
   min-width: 8rem;
   padding: 5px; 
   
   color: rgb(2, 130, 249);
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.overview-button:hover{
    color: #ffffff;
    background: linear-gradient(105deg, #6e99e6, #093c94);
}
.Overview-heading{
    /* margin-top: 3%; */
    /* padding-top: 3%; */
    text-align: center;
    
    color: rgb(2, 130, 249);
}
.about-heading{
    color: rgb(2, 130, 249);
}