
  .textrd{
  display: inline;
  width: 100%;
  }
  .team-heading{
    padding-top: 3%;
    
    color: rgb(2, 130, 249);
  }
  .read-or-hide{
  color: rgb(129, 129, 129);
  cursor: pointer;
  border-bottom: 2px solid rgba(188, 188, 188, 0.498);
  }
  

.wrapper h1{
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 2vh;
  padding-right: 2vh;
}
.team-images{
  border-radius: 50%;
}
 .team_member1{
  display: flex;
  /* background: rgb(2, 130, 249); */
    background-color: aliceblue;
  margin: 10px;
  margin-bottom: 25px;
  /* width: 450px; */
  /* height: 450px; */
  padding: 20px;
  line-height: 30px;
  color: #070707;  
  position: relative;
}
.team_member2{
  display: flex;
  flex-direction: row-reverse;
  /* background: rgb(2, 130, 249); */
  background-color: rgb(174, 211, 244);
  margin: 10px;
  margin-bottom: 25px;
  /* width: 450px; */
  /* height: 450px; */
  padding: 20px;
  line-height: 30px;
  color: #070707;  
  /* position: relative; */
}
.team-text1{
  flex: 25%;
}
.team-text2{
  flex: 25%;
}
 .team-text1 h3{
  color: #0a0a0a;
  font-size: 20px;
  margin-top: 15px;

}
.team-text1 h2{
  
  /* color: #ccc; */
  color: rgb(2, 130, 249);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
 .team-text2 h3{
  color: #0a0a0a;
  font-size: 20px;
  margin-top: 15px;

}
.team-text2 h2{
  
  /* color: #ccc; */
  color: rgb(2, 130, 249);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.paragraph1{
    flex-wrap: wrap;
    flex: 75% 1;
    text-align: center;
    justify-content: center;
    display: flex;
}
.paragraph1 p{
  display: flex;
  flex-wrap: wrap;
  flex: 75% 1;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  font-size: 18px;
}
.paragraph2{
  flex-wrap: wrap;
  flex: 75% 1;
  text-align: justify;
  justify-content: center;
  display: flex;
}
.paragraph2 p{
  display: flex;
  flex-wrap: wrap;
  flex: 75% 1;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 2vh;
 font-size: 18px;
 font-weight: 500;
}
.team_img{
 
  /* transform: translateX(-50%); */
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background: #fff;
}

.team_img img{
  width: 150px;
  height: 130px;
  padding: 5px;
}


@media  (min-width: 300px) and (max-width: 699px){
  .team_member1{
    flex-direction: column;
  }
  .team_member2{
    flex-direction: column;
  }
}