
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.wrapper h1{
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
.team-images{
  border-radius: 50%;
}
.team .team_member{
  /* background: #2c67e7; */
  background: rgb(2, 130, 249);
  margin: 10px;
  margin-bottom: 50px;
  width: 450px;
  height: 450px;
  padding: 20px;
  line-height: 30px;
  color: #070707;  
  position: relative;
}

.team .team_member h3{
  color: #0a0a0a;
  font-size: 20px;
  margin-top: 65px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 150px;
  height: 130px;
  padding: 5px;
}
