.house-card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media  (min-width: 300px) and (max-width: 899px) {
   .house-header{
   padding-top: 70px;
   }
   .house-card-section{
    padding-top: 15px;
   }
}