.event-container{
    margin: 10px;
    padding: 10px;

}
.todays-event{
    padding-left: 70px;
    
}

.today-event-box{
   padding: 15px;
   margin: 4px 2px;
   grid-gap: 1rem;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

.event-box-container{
    border-top: 6px solid rgb(37, 29, 197);
    height: 50vh;
    width: 80%;
    padding: 40px;
    display: flex;
    padding: 40px 25px;
    margin: 20px;
    background-color: rgb(45, 44, 44);
    color: white;
    flex-direction: column;
}


.event-box-header{
    height: 15vh;
    
}
.event-box-header:hover{
    color: rgb(26, 44, 204);
    
}


