.containerfeaturee {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  grid-gap: 2rem;
  margin: 2rem;
 
 /* align-items: center; */
 margin-bottom: 100px;
 margin-top: 150px;
 padding-top: 10px;
}

/* demo purposes only */

* {
  font-family: "Poppins", sans-serif;
}
.cardfeature {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  /* position: absolute; */
  /* top: 5px; */
  /* left: 5px; */
  width: 97%;
  height: 95%;
  z-index: 0;
  
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.h3feature {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 20px 0 0 20px;
  font-weight: 600;
  

}

.pfeature {
  color: black;
  font-weight: 800;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
}

.imgfeature {
  position: absolute;
  top: 0;
  height: 110%;
  width: 100%;
  z-index: -3;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.cardfeature:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.cardfeature:hover img {
  transform: translateY(-10px);
}


.cardbackfeature {
  position: relative;
  width: 95%;
  min-width: 70px;
  height: 300px;
  border-radius: 14px;
  /* z-index: 11; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  
}



.blob {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2d09bf;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 4s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-250%, -110%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-30%, -150%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-10%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-200%, -80%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-200%, -100%) translate3d(0, 0, 0);
  }
}

